.button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  color: #fff;
  width: 100%;
  max-width: 264px;
  min-height: 34px;
  // padding: 5px 14px 5px 24px;
  // box-shadow: $shadow;
  position: relative;
  font-size: 20px;

  &--pink {
    background-color: $pink;
  }

  &--blue {
    background-color: $blue;
  }

  &--green {
    background-color: $green;
  }

  &--gray {
    background-color: $dark-gray;
  }

  &--fb {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(0.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
    // background-color: #435081;
    // width: 274px;
    // &:before {
    //   content: url("/fb-logo.svg");
    //   position: absolute;
    //   top: 6px;
    //   left: 14px;
    //   width: 23px;
    //   height: 23px;
    // }
  }
}

#fbAuthorize button {
  display: flex;
  align-items: center;
  background-color: #0260eb;
  border-color: #0260eb;
}

.hide-login-page {
  visibility: hidden;
}
