.home-page {
  width: 100%;
  height: 100%;
  background-image: url("/home-page-bg.jpg");
  background-position: center;
  &__button-group {
    margin-top: 123px;

    height: 100%;
    width: 100%;
    max-height: 222px;
    @include flex-column-center;
    justify-content: space-between;
  }
}
