.question-page {
  height: calc(100% - 133px);
  justify-content: flex-start;
  margin-top: 47px;

  &__question {
    margin-bottom: 60px;
    font-size: 20px;
  }

  &__btn-group {
    width: 100%;
    @include flex-column-center;
    justify-content: space-between;
    .button {
      margin-bottom: 36px;
    }
  }
}
