.quiz-start {
  width: 100%;
  height: calc(100% - 86px);
  // min-height: calc(100vh - 86px);
  @include flex-column-center;
  justify-content: space-between;

  &__wrapper {
    width: 100%;
  }

  &__header {
    padding: 8px 16px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  &__title {
    // height: 100%;
    min-height: 250px;
    background-image: url("/start-quiz-bg.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    margin-bottom: 16px;
    padding: 32px;
    text-align: center;
    @include flex-center;

    @media (max-width: 700px) {
    }

    &__overlay {
      background-color: #fff;
      border: 1px solid black;
      color: #000;
      height: 100%;
      width: 100%;
      padding: 16px;
      text-align: center;
    }
  }

  &__desc {
    padding: 0 32px;
    color: $dark-gray;
  }

  .button {
    margin: 32px;
  }

  &__agree {
    color: #68bbf9;
    margin-top: 8px;
  }
}
.subcription {
  width: 100%;
  // margin: 40px 0 32px 0;
  // height: 100%;

  @include flex-column-center;
}
