/* colors */
$black: #202020;
$white: #fff;
$pink: #df248d;
$blue: #3f81cc;
$green: #009d97;

$gray: #808080;
$dark-gray: #4d4d4d;
$shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

/* fonts */
$title_h1_size: 96px;
$title_h1_line_height: 120px;

$transition: all 0.4s ease-in-out;

$breakpoint: 420px;
